@import url('https://fonts.googleapis.com/css2?family=ParkinSans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-custom;
}

@keyframes bounce-arrow {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

.group-hover\:animate-bounce-arrow {
	animation: bounce-arrow 0.3s infinite;
}
